<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Keenos</title>
  <meta name="description" content="blog">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="css/style.css?v=2">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <h1>Keenos</h1>
  <input type="button" name="addPost" value="Add Post" />
  <hr />

  <nav></nav>
  <div id="writeContainer" hidden="true">
    <input type="text" name="postTitle"  placeholder="Title"/><br />
    <textarea id="postBody"></textarea><br />
    <input type="text" name="postTags"  placeholder="Tags"/><br />
    <div id="buttons">
      <input type="button" name="cancelPost" value="Cancel"/>
      <input type="button" name="publishPost" value="Publish"/>
      <hr />
    </div>
  </div>
  <div id="postContainer">
    <script type="text/x-handlebars">
        {{#each Keenos.blogPostController}}
          {{#view Keenos.BlogListView contentBinding="this"}}
             <p>{{content.title}}</p>
             <div> Content: {{content.content}}</div>
             <p>Date {{content.date}}, tags {{content.tags}}</p>
          {{/view}}
        {{/each}}
    </script>
  </div>


  <footer></footer>
  <!-- The missing protocol means that it will match the current protocol, either http or https. If running locally, we sue the local jQuery. -->
  <script src="js/libs/jquery-1.7.2.min.js"></script>
  <script src="js/libs/moment-1.5.0.js"></script>
  <script src="js/libs/ember-0.9.8.1.js"></script>
  <script src="js/blog.js"></script>

</body>
</html>
